<div id="banner">
    <img class="sidebar-logo" src="images/logos/" />
    <span class="title"><%= @page_title %></span>
</div>
<div class="columns">
    <div id="side">
        <ul>
            <li><a href="/"></a></li>
            <li><a href="/about"></a></li>
            <li><a href="/contact"></a></li>
        </ul>
    </div>
</div>